.img2 {
  background-image: url('../img/blue-splash.jpg');
  max-height: 60%;
}

a {
  color: black;
}

.project-container {
  max-width: 100%;
  height: 100%;
  align-items: center;
}

.project-card {
  width: 290px;
  height: 420px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  border-radius: .2rem;
}

.project-title,
.project-app,
.project-tech,
.project-languages,
#project-btn {
  margin: 0;
}

.project-title {
  text-align: center;
  font-weight: bold;
}

.project-app {
  text-align: center;
  font-size: 16px;
}

.project-desc {
  line-height: normal;
  padding: 0 3px;
  margin: 0;
  font-size: 15px;
}

.project-tech {
  padding-left: 4px;
  font-size: 16px;
}

.project-languages {
  text-align: center;
  display: inline-block;
  padding: 4px;
  padding-bottom: 0;
  margin: 5px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: .2rem;
}

#project-btn {
  margin-top: 6px;
  padding: 0 4px;
  margin-left: 30%;
}

.check-in-app {
  margin-top: 9px;
}
