.img5 {
  background-color: #F59BC1;
  max-height: 50%;
}

#contact-form {
  color: black;
  background-color: #f3f3f3;
  width: 520px;
  height: 300px;
  margin-top: 12px;
  border-radius: 0.2rem;
}

.contact-details1 {
  margin-bottom: 12px;
}

.contact-details2 {
  flex-wrap: wrap;
}

.textarea-wrap {
  display: flex;
}

.get-connected {
  text-align: center;
  margin-bottom: 5px;
}

#user-name,
#user-email,
#user-message {
  margin-left: 8px;
}

#user-name {
  margin-right: 8px;
}

#user-message {
  width: 300px;
  height: 100px;
}

input,
textarea {
  font-size: 12px;
  border-radius: 0.2rem;
  border: 1px solid black;
  background-color: #f1f1f1;
}

textarea {
  padding-top: 0;
  padding-left: 0;
}

.form-actions {
  text-align: center;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-media {
  text-align: center;
  padding: 10px;
}

.link {
  margin: 20px;
  font-weight: 800;
}

.fab {
  margin: 8px;
}

.footer {
  align-items: center;
  width: 100%;
}

.textarea-label {
  display: flex;
}

.footer-bait {
  font-weight: bold;
}

.ps-sami {
  font-size: small;
}

.submit-btn {
  padding: 0 4px;
}

@media screen and (max-width: 480px) {
  .fullbody-robot-img {
    max-width: 65%;
  }

  .textarea-wrap {
    justify-content: center;
    text-align: center;
  }
  .textarea-label {
    flex-direction: column;
  }
  textarea {
    max-width: 150px;
  }

  #contact-form {
    height: 385px;
  }

  .form-actions {
    padding-right: 30px;
  }

  .reference-card {
    height: 485px;
    margin-top: 20px;
  }
}
