.img1 {
  background-color: #F59BC1;
}

img {
  width: 100%;
}

.bait-logo {
  display: inline-block;
  margin: 5px;
  text-decoration: underline;
}

.nav-list {
	padding: 15px 15px;
	display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.nav-item {
  list-style: none;
  font-weight: 700;
}

.nav-item:first-child {
  margin-right: auto;
}

.button {
  font-family: 'Manjari', sans-serif;
  font-size: 1.2rem;
  color: #f3f3f3;
  background-color: black;
  font-weight: 800;
  border-radius: .2rem;
}

.button:hover {
  cursor: pointer;
  color: #F59BC1;
}

.bait-image {
  max-width: 45%;
  transform: rotate(10deg);
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {

}
