.img3 {
  background-image: url('../img/gradient.jpg');
  min-height: 80%;
}

.my-story-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.my-story-card {
  max-width: 100%;
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  border-radius: .2rem;
  margin-right: 15px;
}

.my-story-text {
  font-weight: bolder;
}

.fullbody-robot-img {
  max-width: 30%;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
