h2 {
  text-align: right;
  margin: 0;
  padding-right: 8px;
}

.img3 {
  background-image: url('http://baitbots.cdn.s3-website-us-west-1.amazonaws.com/gradienta-7brhZmwXn08-unsplash-min.jpg');
  min-height: 70%;
}

.my-story-container {
  align-items: center;
}

.my-story-card {
  width: 500px;
  height: 500px;
  padding-top: 4px;
  background-color: #f3f3f3;
  border-radius: .2rem;
  margin-right: 15px;
}

.my-story-text {
  font-weight: bolder;
  padding-left: 5px;
}

.fullbody-robot-img {
  max-width: 33%;
  margin-bottom: 15px;
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .my-story-card {
    height: 730px;
  }
}
