
body,
html {
  font-family: 'Manjari', sans-serif;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
}

.img-utility {
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax {
  position: relative;
  background-attachment: fixed;
}

.section-headers {
  max-width: fit-content;
  font-size: 25px;
  border-radius: .2rem;
  background-color: black;
  padding: 10px;
  color: whitesmoke;
  font-weight: 800;
}

@media screen and (min-width: 480px) {

}

@media screen and (max-width: 650px) {
  #contact-form {
    border: 5px solid blue;
  }
  .footer {
    border: 5px solid red;
  }
}
